html{
    background-image: linear-gradient(to right, hwb(317 76% 2%)  0%, #a6c1ee 100%);
    
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
	margin: 0 auto;
    
}
     /* aqui e para que meu site se ajuste a varias telas automaticamente  */
.quadro {
    margin: 10px 500px 0px 500px;
    padding: 20px 20px 20px 48px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(179, 171, 237, 0.566);

 
}
 .enviar{
    padding: 2px;
    padding-left: 65px;
    padding-right: 65px;
    background-color: rgba(96, 73, 118, 0.676);
    cursor: pointer;
 }

 button:hover{
    background-color: rgba(96, 73, 118, 0.676);
    color: white;
    padding: 3px 66px 3px 66px;

}
a{
    padding-left: 70px;
    font-size: 10px;
    align-items: end;
    display: flex;
    margin-top: 20px;
    margin-bottom: -25px;
    }
   
    .login{
        margin-left: 590px;
        margin-top: 10%;
    }
.id-usuario{
    font-size: 13px;
}

.text-senha{
    font-size: 15px;
}

.cadastre-se{
    margin-left: 500px;
    margin-right: 500px;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 7px;
    padding-left: 70px;
    background-color: rgba(179, 171, 237, 0.566);
}

/* daqui em diante e meu estilo da pág de formlário para cadastro */

.titulo-e-sub{
    margin: 90px 400px 0px 400px;
    background-color:rgb(179, 171, 237);
    border-radius: 5px 5px 0px 0px;
    padding: 1px 90px 1px 30px; border-bottom: 1px solid;

}

h2{
    font-size: 20px;
}
.titulo-cadatro{
    font-size: 40px;
}
form{
    margin: 0px 400px;
    padding: 30px;
    border-radius: 0px 0px 5px 5px;
    background-color:rgb(179, 171, 237);
    
    }

    .nome{
        margin: 5px 0px;
        border: solid 1px;
        border-radius: 4px;
        font-size: 16px; 
    }
    .sobrenome{
     margin: 5px 0px;
     border: solid 1px;
     border-radius: 4px;
     font-size: 16px; 
}
.celular-ou-email{
     margin: 5px 0px;
     border: solid 1px;
     border-radius: 4px;
     font-size: 16px; 
}
.senha{
     margin: 5px 0px;
     border: solid 1px;
     border-radius: 4px;
     font-size: 16px; 
}

.nascimento{
    font-size: 14px;
}
.enviarform{
    margin: 20px 120px;
    background-color: rgba(96, 73, 118, 0.676);
    padding: 2px 66px;
}
